<h1>Add New Game</h1>

<%= form_for @game , :url => games_path, :method => :post do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit "Add", :class => "btn btn-warning btn-lg" %>




<% end %>

